#heading {
    color: purple;
    font-size: 15xp;
    font-weight: bold
    }
    
    body {
        background-color: blanchedalmond;
        font-family: "Arial";
    }
    
    #welcomemessage {
        color: darkslateblue;
    }
    
    #filter {
        color: darkslateblue
    }

/* css finalised */